@charset "UTF-8";
@font-face {
  font-family: 'fr';
  src: url("../../assets/fonts/fr.eot");
  src: url("../../assets/fonts/fr.eot") format("embedded-opentype"), url("../../assets/fonts/fr.svg#fr") format("svg"), url("../../assets/fonts/fr.woff2") format("woff2"), url("../../assets/fonts/fr.woff") format("woff"), url("../../assets/fonts/fr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'fb';
  src: url("../../assets/fonts/fb.eot");
  src: url("../../assets/fonts/fb.eot") format("embedded-opentype"), url("../../assets/fonts/fb.svg#fb") format("svg"), url("../../assets/fonts/fb.woff2") format("woff2"), url("../../assets/fonts/fb.woff") format("woff"), url("../../assets/fonts/fb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ctr';
  src: url("../../assets/fonts/ctr.eot");
  src: url("../../assets/fonts/ctr.eot") format("embedded-opentype"), url("../../assets/fonts/ctr.svg#ctr") format("svg"), url("../../assets/fonts/ctr.woff2") format("woff2"), url("../../assets/fonts/ctr.woff") format("woff"), url("../../assets/fonts/ctr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html,
body {
  height: 100%; }

html, a {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="38" style="font-size:34px"><text y="34">💀</text></svg>'), auto; }

body {
  background: #FFF;
  color: #000;
  font-family: 'fr', serif;
  -webkit-font-feature-settings: "zero","onum","calt";
  font-feature-settings: "zero","onum","calt"; }

body::-webkit-scrollbar {
  display: none; }

::-moz-selection {
  background: #0A24CF;
  color: #FFF; }

::selection {
  background: #0A24CF;
  color: #FFF; }

::-moz-selection {
  background: #0A24CF;
  color: #FFF; }

a:hover {
  text-decoration: none; }

.section {
  padding: 50px 30px; }
  .section .container {
    padding: 0; }
    .section .container .content {
      padding: 0; }
    .section .container #section-title {
      font-family: 'ctr', serif;
      font-size: 0.875rem;
      letter-spacing: 2px;
      margin-bottom: 25px;
      text-transform: uppercase; }
    .section .container #section-content {
      font-family: 'fb', serif;
      font-size: 2.250rem;
      line-height: 2.875rem;
      margin: 0;
      margin-top: 25px; }
    .section .container #sep {
      display: inline-block;
      margin-top: 50px; }
  .section #link {
    border-bottom: 3px solid #0A24CF;
    color: #0A24CF;
    display: inline-block;
    font-family: 'fb', serif;
    font-size: 2rem;
    margin-top: 25px;
    padding-bottom: 5px; }
    .section #link:hover {
      background: #0A24CF;
      color: #FFF; }

#navbar {
  background: transparent;
  height: 100px;
  padding: 0 25px;
  position: absolute;
  width: 100%; }
  #navbar .container {
    padding: 0; }
  #navbar #dn-logo {
    color: #000;
    font-family: 'fb', serif;
    font-size: 1.500rem; }
  #navbar .burger {
    outline: none;
    display: inline-block;
    width: 20px;
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.81, -0.47, 0.29, 1.38);
    -moz-transition: all 0.3s cubic-bezier(0.81, -0.47, 0.29, 1.38);
    -o-transition: all 0.3s cubic-bezier(0.81, -0.47, 0.29, 1.38);
    transition: all 0.3s cubic-bezier(0.81, -0.47, 0.29, 1.38);
    -webkit-transition-timing-function: cubic-bezier(0.81, -0.47, 0.29, 1.38);
    -moz-transition-timing-function: cubic-bezier(0.81, -0.47, 0.29, 1.38);
    -o-transition-timing-function: cubic-bezier(0.81, -0.47, 0.29, 1.38);
    transition-timing-function: cubic-bezier(0.81, -0.47, 0.29, 1.38);
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    z-index: 99; }
    #navbar .burger .line {
      display: block;
      float: left;
      width: 100%;
      height: 2px;
      margin: 2px 0;
      background-color: #000;
      -webkit-transition: all 0.3s cubic-bezier(1, 0.01, 0, 1);
      -moz-transition: all 0.3s cubic-bezier(1, 0.01, 0, 1);
      -o-transition: all 0.3s cubic-bezier(1, 0.01, 0, 1);
      transition: all 0.3s cubic-bezier(1, 0.01, 0, 1);
      -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
      -moz-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
      -o-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
      transition-timing-function: cubic-bezier(1, 0.01, 0, 1); }
      #navbar .burger .line:first-child {
        width: 50%;
        -ms-transform-origin: 100% 50%;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
      #navbar .burger .line:last-child {
        float: right;
        width: 50%;
        -ms-transform-origin: 0 50%;
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
    #navbar .burger.cross {
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
      #navbar .burger.cross .line {
        background-color: #0A24CF;
        margin: 4px 0; }
        #navbar .burger.cross .line:first-child {
          -moz-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
        #navbar .burger.cross .line:last-child {
          -moz-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  #navbar li.nav-item {
    margin-left: 50px; }
    #navbar li.nav-item a.nav-link {
      color: #000;
      font-family: 'fb', serif;
      font-size: 0.9rem;
      letter-spacing: 1px;
      padding: 0;
      text-transform: uppercase; }
      #navbar li.nav-item a.nav-link:hover {
        color: #0A24CF; }

#hidden-menu {
  background: #F6F3F9;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: -100vh;
  z-index: 9;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #hidden-menu.show {
    top: 0;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  #hidden-menu ul {
    list-style: none;
    margin: 0 auto;
    text-align: center; }
    #hidden-menu ul li {
      margin: 25px 0; }
      #hidden-menu ul li a.nav-link {
        color: #0A24CF;
        font-family: 'fb', serif;
        font-size: 2.250rem;
        padding: 0;
        text-transform: lowercase; }

#hero {
  padding-top: 175px; }
  #hero #hero-content {
    font-family: 'fb', serif;
    font-size: 2.250rem;
    line-height: 2.875rem;
    margin-bottom: 0;
    margin-top: 25px; }

@media screen and (min-width: 576px) {
  #hero {
    padding: 150px 30px 50px; }
    #hero #hero-content {
      font-size: 2.625rem;
      line-height: 3.250rem; } }

@media screen and (min-width: 768px) {
  #hero {
    padding: 175px 30px 50px; }
    #hero #hero-content {
      font-size: 3rem;
      line-height: 3.625rem; } }

@media screen and (min-width: 992px) {
  #hero {
    padding: 200px 30px 75px; }
    #hero #hero-content {
      font-size: 3.375rem;
      line-height: 4rem; } }

#work #work-grid #work-row {
  font-size: 0;
  padding: 0; }
  #work #work-grid #work-row .tilt-js {
    display: inline-block;
    height: 400px;
    margin-bottom: 30px;
    padding: 40px 30px; }
    #work #work-grid #work-row .tilt-js#work-boom {
      background: #B9CEFF; }
      #work #work-grid #work-row .tilt-js#work-boom p {
        color: #000; }
    #work #work-grid #work-row .tilt-js#work-sidekick {
      background: #FFD0BE; }
      #work #work-grid #work-row .tilt-js#work-sidekick p {
        color: #76280C; }
    #work #work-grid #work-row .tilt-js#work-redditph {
      background: #E1F1A0; }
      #work #work-grid #work-row .tilt-js#work-redditph p {
        color: #111698; }
    #work #work-grid #work-row .tilt-js#work-citysuite {
      background: #F7E34B; }
      #work #work-grid #work-row .tilt-js#work-citysuite p {
        color: #000; }
    #work #work-grid #work-row .tilt-js#view-more {
      background: #0A24CF; }
      #work #work-grid #work-row .tilt-js#view-more span p {
        color: #FFF;
        font-family: 'fb', serif;
        font-size: 2.250rem; }
    #work #work-grid #work-row .tilt-js p {
      color: #0A24CF;
      line-height: 1;
      margin: 0; }
      #work #work-grid #work-row .tilt-js p.work-title {
        font-family: 'fb', serif;
        font-size: 2.500rem;
        line-height: 2.875rem;
        margin-bottom: 15px; }
      #work #work-grid #work-row .tilt-js p.work-desc {
        font-size: 1.500rem;
        line-height: 2.375rem; }
    #work #work-grid #work-row .tilt-js .work-bottom {
      padding: 0 30px;
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 100%; }
      #work #work-grid #work-row .tilt-js .work-bottom p {
        display: inline-block;
        font-family: 'ctr', serif;
        font-size: 1.500rem; }
    #work #work-grid #work-row .tilt-js:hover {
      z-index: 99; }
  #work #work-grid #work-row .project-item {
    padding: 0; }

@media screen and (min-width: 768px) {
  #work #work-grid #work-row .tilt-js {
    margin: 0; }
    #work #work-grid #work-row .tilt-js p.work-desc {
      opacity: 0; }
    #work #work-grid #work-row .tilt-js .work-bottom p.work-arrow {
      opacity: 0; }
    #work #work-grid #work-row .tilt-js:hover p.work-desc {
      opacity: 1;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s; }
    #work #work-grid #work-row .tilt-js:hover p.work-arrow {
      opacity: 1;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s; } }

#about-me ul#clients-list {
  list-style: none; }
  #about-me ul#clients-list li {
    display: inline-block;
    font-family: 'fb', serif;
    font-size: 2.250rem;
    line-height: 2.875rem;
    margin-bottom: 25px; }
    #about-me ul#clients-list li:after {
      content: '/';
      margin: 0 10px; }
    #about-me ul#clients-list li:last-child:after {
      content: ' '; }

#about-me ul#skills-list {
  list-style: none; }
  #about-me ul#skills-list li {
    display: inline-block;
    font-family: 'fb', serif;
    font-size: 2.250rem;
    line-height: 2.875rem;
    margin-right: 25px;
    margin-bottom: 25px; }
    #about-me ul#skills-list li:before {
      content: '#'; }

#connect {
  background: #F6F3F9;
  padding: 50px 30px 30px; }
  #connect #footer {
    margin-top: 50px; }
  #connect ul#elsewhere {
    list-style: none;
    margin: 0; }
    #connect ul#elsewhere li {
      display: inline-block;
      margin-right: 20px; }
      #connect ul#elsewhere li a {
        display: inline-block;
        height: 30px;
        width: 30px;
        padding: 3px 0; }
        #connect ul#elsewhere li a#twitter:hover svg {
          fill: #1da1f2; }
        #connect ul#elsewhere li a#github:hover svg {
          fill: #6cc644; }
        #connect ul#elsewhere li a#dribbble:hover svg {
          fill: #ea4c89; }
        #connect ul#elsewhere li a#spotify:hover svg {
          fill: #1db954; }
  #connect p#copyright {
    font-family: 'fb', serif;
    font-size: 1.125rem;
    margin: 25px 0 0; }

@media screen and (min-width: 768px) {
  #connect {
    padding: 75px 30px 50px; }
    #connect p#copyright {
      margin: 0;
      text-align: right;
      width: 100%; } }
