@font-face {
  font-family: 'cbo';
  src: url("/assets/fonts/cbo.eot");
  src: url("/assets/fonts/cbo.eot") format("embedded-opentype"), url("/assets/fonts/cbo.svg#cbo") format("svg"), url("/assets/fonts/cbo.woff2") format("woff2"), url("/assets/fonts/cbo.woff") format("woff"), url("/assets/fonts/cbo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cb';
  src: url("/assets/fonts/cb.eot");
  src: url("/assets/fonts/cb.eot") format("embedded-opentype"), url("/assets/fonts/cb.svg#cb") format("svg"), url("/assets/fonts/cb.woff2") format("woff2"), url("/assets/fonts/cb.woff") format("woff"), url("/assets/fonts/cb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cbl';
  src: url("/assets/fonts/cbl.eot");
  src: url("/assets/fonts/cbl.eot") format("embedded-opentype"), url("/assets/fonts/cbl.svg#cbl") format("svg"), url("/assets/fonts/cbl.woff2") format("woff2"), url("/assets/fonts/cbl.woff") format("woff"), url("/assets/fonts/cbl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gm';
  src: url("/assets/fonts/gm.eot");
  src: url("/assets/fonts/gm.eot") format("embedded-opentype"), url("/assets/fonts/gm.svg#gm") format("svg"), url("/assets/fonts/gm.woff2") format("woff2"), url("/assets/fonts/gm.woff") format("woff"), url("/assets/fonts/gm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'al';
  src: url("/assets/fonts/al.eot");
  src: url("/assets/fonts/al.eot") format("embedded-opentype"), url("/assets/fonts/al.svg#al") format("svg"), url("/assets/fonts/al.woff2") format("woff2"), url("/assets/fonts/al.woff") format("woff"), url("/assets/fonts/al.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #1F1F1F;
  color: #FFFFFF;
  font-family: 'al', serif; }

::-moz-selection {
  background: #F7EC22;
  color: #1F1F1F; }

::selection {
  background: #F7EC22;
  color: #1F1F1F; }

::-moz-selection {
  background: #F7EC22;
  color: #1F1F1F; }

a {
  color: #FFFFFF;
  display: inline-block; }
  a:hover {
    color: #F7EC22;
    text-decoration: none; }

a.inline-link {
  position: relative;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  a.inline-link:after {
    background: rgba(255, 255, 255, 0.7);
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2px; }
  a.inline-link:hover:after {
    background: #F7EC22;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

a.inline-link--rev {
  position: relative; }
  a.inline-link--rev:after {
    background: transparent;
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -7px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  a.inline-link--rev:hover:after {
    background: #F7EC22;
    bottom: -2px;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

.container {
  padding-left: 30px;
  padding-right: 30px; }

header {
  padding-top: 40px;
  padding-bottom: 40px; }
  header #header-logo {
    font-family: 'cb', serif;
    font-size: 24px; }
  header #header-nav .nav-item {
    margin-left: 40px; }
  header #header-nav .nav-link {
    font-size: 18px;
    padding: 0; }

.hamburger {
  -webkit-box-sizing: unset;
  box-sizing: unset;
  cursor: pointer;
  height: 12px;
  width: 30px;
  padding: 20px;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s; }
  .hamburger .line {
    background: #1F1F1F;
    height: 2px;
    width: 30px;
    position: absolute;
    -webkit-transition: top 0.4s, background 0.4s, -webkit-transform 0.4s;
    transition: top 0.4s, background 0.4s, -webkit-transform 0.4s;
    -o-transition: transform 0.4s, top 0.4s, background 0.4s;
    transition: transform 0.4s, top 0.4s, background 0.4s;
    transition: transform 0.4s, top 0.4s, background 0.4s, -webkit-transform 0.4s; }
    .hamburger .line:first-child {
      top: 20px; }
    .hamburger .line:last-child {
      bottom: 20px; }
  .hamburger.opened .line:first-child {
    top: 50%;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg); }
  .hamburger.opened .line:last-child {
    top: 50%;
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg); }

footer {
  padding-top: 50px;
  padding-bottom: 40px; }
  footer #social-links ul {
    display: block; }
  footer #social-links .nav-item {
    display: block;
    margin-right: 40px;
    padding: 3px 0; }
  footer #social-links .nav-link {
    display: inline-block;
    font-size: 1.125rem;
    padding: 0; }
  footer #footer-contact {
    font-size: 1.125rem; }

@media screen and (min-width: 768px) {
  footer {
    padding-top: 100px; }
    footer #social-links ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    footer #social-links .nav-item {
      padding: 0; } }

#hero {
  margin: 75px 0 50px; }
  #hero #hero-heading {
    font-family: 'gm', serif;
    font-size: 2.625rem;
    line-height: 1.2;
    margin-bottom: 1.500rem; }
  #hero #hero-body {
    font-size: 1.250rem;
    line-height: 1.6; }

@media screen and (min-width: 768px) {
  #hero {
    margin: 150px 0 50px; }
    #hero #hero-heading {
      font-size: 3.750rem;
      line-height: 1.1;
      margin-bottom: 2rem; }
    #hero #hero-body {
      font-size: 1.375rem;
      line-height: 1.6; } }
