@font-face {
  font-family: "Canela";
  src: url("/assets/fonts/CanelaWebThin.woff2") format("woff2");
  src: url("/assets/fonts/CanelaWebThin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Moderat";
  src: url("/assets/fonts/ModeratRegular.woff2") format("woff2");
  src: url("/assets/fonts/ModeratRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Moderat";
  src: url("/assets/fonts/ModeratMedium.woff2") format("woff2");
  src: url("/assets/fonts/ModeratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Moderat";
  src: url("/assets/fonts/ModeratBold.woff2") format("woff2");
  src: url("/assets/fonts/ModeratBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
::selection {
  background: #0046F5;
  color: #FFF;
}

::-moz-selection {
  background: #0046F5;
  color: #FFF;
}

* {
  box-sizing: border-box;
}

body {
  background: #FFF;
  color: #000;
  font-family: "Canela", serif;
  font-size: 16px;
}

#content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px;
}

.hero {
  margin-bottom: 64px;
}

h1 {
  font-family: "Canela", serif;
  font-size: 3rem;
  font-weight: 200;
  color: #000;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 24px;
}
h1 #name,
h1 a {
  font-family: "Moderat", serif;
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: -1px;
}
h1 a {
  color: #000;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition-duration: 0.2s;
}
h1 a:after {
  content: "";
  background: transparent;
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition-duration: 0.2s;
}
h1 a:hover {
  color: #0046F5;
  transition-duration: 0.2s;
}
h1 a:hover:after {
  background: #0046F5;
  bottom: -5px;
  transition-duration: 0.2s;
}

.work-item {
  background: #F0F0F0;
  border-radius: 16px;
  color: #000;
  display: flex;
  height: 480px;
  overflow: hidden;
  margin-top: 48px;
  position: relative;
  width: 100%;
}
.work-item .work-details {
  max-width: 360px;
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 48px;
  margin-left: 56px;
  z-index: 2;
}
.work-item .work-details img {
  border-radius: 16px;
  margin-bottom: 16px;
  width: 56px;
}
.work-item .work-details h2 {
  font-family: "Moderat", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}
.work-item .work-details p.metadata {
  color: #18171d;
  font-family: "Moderat", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.work-item .work-details p.desc {
  font-size: 1.5rem;
  line-height: 1.4;
}
.work-item .work-details a {
  font-family: "Moderat", serif;
  font-size: 1.25rem;
  font-weight: normal;
  color: #000;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: lowercase;
  transition-duration: 0.2s;
}
.work-item .work-details a:after {
  content: "";
  background: transparent;
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition-duration: 0.2s;
}
.work-item .work-details a:hover {
  color: #0046F5;
  transition-duration: 0.2s;
}
.work-item .work-details a:hover:after {
  background: #0046F5;
  bottom: -5px;
  transition-duration: 0.2s;
}
.work-item img.showcase {
  position: absolute;
  height: 100%;
  margin-left: 360px;
}

#work #back {
  background: #DEE7FE;
  border-radius: 100px;
  color: #0046F5;
  display: inline-block;
  font-family: "Moderat", serif;
  margin-bottom: 64px;
  padding: 12px 26px 13px 24px;
  text-decoration: none;
  transition-duration: 0.4s;
}
#work #back:hover {
  background: #0046F5;
  color: #FFF;
  transition-duration: 0.4s;
}
#work .title h1 {
  font-family: "Moderat", serif;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.2;
  margin-bottom: 8px;
}
#work .title .year {
  color: #81858b;
  font-family: "Moderat", serif;
  font-size: 24px;
  margin: 0;
}
#work .work-gallery img {
  border-radius: 20px;
  margin-top: 80px;
  width: 100%;
}

.footer {
  background: #000;
  margin-top: 80px;
}
.footer .content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 64px;
  width: 100%;
}
.footer h1 {
  color: #FFF;
}
.footer h1 a {
  color: #FFF;
}
.footer h1 a:after {
  content: "";
  background: transparent;
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition-duration: 0.2s;
}
.footer h1 a:hover {
  color: #0046F5;
  transition-duration: 0.2s;
}
.footer h1 a:hover:after {
  background: #0046F5;
  bottom: -5px;
  transition-duration: 0.2s;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.footer-links p {
  color: #FFF;
  font-family: "Moderat", sans-serif;
  font-size: 1.125rem;
  margin: 0;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-links li {
  display: inline-block;
  margin-right: 24px;
}
.social-links li a {
  color: #FFF;
  transition-duration: 0.2s;
}
.social-links li a:hover {
  color: #0046F5;
  transition-duration: 0.2s;
}
.social-links li a i {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  #content {
    padding: 32px;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 1.5;
  }
  h1 #name,
h1 a {
    font-size: 2.25rem;
  }

  .work-item {
    height: auto;
    margin-top: 32px;
  }
  .work-item .work-details {
    margin: 0;
    max-width: none;
    padding: 48px 32px;
    position: initial;
  }
  .work-item .work-details h2 {
    font-size: 2rem;
  }
  .work-item .work-details p.metadata {
    font-size: 0.75rem;
  }
  .work-item img.showcase {
    display: none;
  }

  #work .title h1 {
    font-size: 56px;
  }
  #work .work-gallery img {
    margin-top: 40px;
  }

  .footer {
    margin-top: 40px;
  }
  .footer .content-wrapper {
    padding: 64px 32px;
  }

  .footer-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-links p {
    font-size: 1rem;
  }
  .footer-links .social-links {
    margin-bottom: 24px;
  }
}